

<form  action="/client" method="post">
<label for="date">Add a date</label>
  <input id="report" name="dietDate" type="DateTime">
   
      <input id="report" name="dietCal" type="text">






</form>>