<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='~/css/bootstrap.min.css' media='all' rel='stylesheet'>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style2.css" rel="stylesheet">
    <link href="~/css/pecircle.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript">addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/Chart.js"></script>
    <script src="~/js/bigSlide.js"></script>
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/easyResponsiveTabs.js"></script>
    <script src="~/js/pts.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>
  <body>

    @RenderBody()

  </body>
</html>
