@{
Layout = "_Layout";
}


<div class="container">
<h1>Register now</h1>
<form action="/Register" method="post">
  <label for="username">User Name:</label>
  <input id="username" name="new-username" type="text">
  <label for="password">Password:</label>
  <input id="password" name="new-password" type="text">
  <button type="submit">Add Info</button>
</form>
</div>
