@{
  Layout = "_Layout";
}
		<div class="fit_main">
			<h1 class="fit_tittle"><a href="index.html">Fit Health App</a></h1>
			<div class="main_frame">
				<iframe class="frame-border" src="app.cshtml" frameborder="0"></iframe>
			</div>
			<div class="footer">
				<p>&copy; 2016 Fit Health App . All Rights Reserved | Design By <a href="http://w3layouts.com/">W3layouts</a> </p>
			</div>
		</div>
