<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@{
  Layout = "_Layout";
}

<title>Fitness Tracker</title>
<!-- script for form -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- main-agileits -->
	<div class="agileits">
		<h1>Sign In</h1>
		<div class="w3-agileits-info">
			<form class='form animate-form' id='form1' action="#" method="post">
				<p class="w3agileits">Login Here</p>
				<div class='form-group has-feedback w3ls'>
					<label class='control-label sr-only' for='username'>Username</label>
					<input class='form-control' id='username' name='username' placeholder='Username' type='text'>
					<span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div>
				<div class='form-group has-feedback wthree'>
					<label class='control-label sr-only' for='email'>Email address</label>
					<input class='form-control' id='email' name='email' placeholder='Email address' type='text'><span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div>
				<div class='form-group has-feedback agile'>
					<label class='control-label sr-only' for='password'>Password</label>
					<input class='form-control w3l' id='password' name='password' placeholder='Password' type='password'><span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div>
				<div class='submit w3-agile'>
					<input class='btn btn-lg' type='submit' value='SUBMIT'>
				</div>
			</form>
		</div>
	</div>
	<!-- //agileits -->
	<!-- copyright -->
	<div class="w3-agile-copyright">
		<p class="agileinfo"> © 2018 Bongolia . All rights reserved | Thanks To <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
