
<!--script-->

</head>
<div class="body-back">
<div class="masthead pdng-stn1">
<div id="menu" class="panel" role="navigation">
<div class="wrap-content">
<div class="search">
  <form>
    <input type="search" value="Search" onfocus="this.value = 100;" onblur="if (this.value == 40) {this.value = 'Search';}" required="">
    <input type="submit" value=" ">
  </form>
</div>
<div class="profile-menu text-center">
  <img class="img-circle border-effect" src="images/.png">
  <h3>kimberly Thompson</h3>
  <h4>Daily Statistics</h4>
  <div class="pro-menu">
    <p>Running</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
    <p>Cycling</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
    <p>Weight Lifting</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
  </div>
  <div class="accordion menu-accor">
    <div class="accordion-section">
      <a class="accordion-section-title" href="#accordion-7">Workout Levels <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
      </a>
      <div id="accordion-7" class="accordion-section-content">
        <ul>
          <li><a href="#">Level 1</a></li>
          <li><a href="#">Level 2</a></li>
          <li><a href="#">Level 3</a></li>
          <li><a href="#">Level 4</a></li>
        </ul>
      </div>
    </div>
    <div class="accordion-section">
      <a class="accordion-section-title" href="#accordion-8">Weight Levels <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
      </a>
      <div id="accordion-8" class="accordion-section-content">
        <ul>
          <li><a href="#">Level 1</a></li>
          <li><a href="#">Level 2</a></li>
          <li><a href="#">Level 3</a></li>
          <li><a href="#">Level 4</a></li>
        </ul>
      </div>
    </div>
    <div class="accordion-section">
      <a class="accordion-section-title" href="#accordion-9">Running Levels<i class="fa fa-chevron-down"></i><div class="clearfix"></div>
      </a>
      <div id="accordion-9" class="accordion-section-content">
        <ul>
          <li><a href="#">Level 1</a></li>
          <li><a href="#">Level 2</a></li>
          <li><a href="#">Level 3</a></li>
          <li><a href="#">Level 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="phone-box wrap push">

<div class="menu-notify">
<div class="profile-left">
  <a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
</div>
<div class="Profile-mid">
  <h5 class="pro-link">Profile</h5>
</div>
<div class="Profile-right">
  <div id="dd1" class="wrapper-dropdown-1" tabindex="1"><i class="fa fa-bars"></i>
    <ul class="dropdown">
      <li><a href="#">Edit Profile </a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Activity log</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    <script type="text/javascript">
    function DropDown(el) {
      this.dd = el;
      this.initEvents();
    }
    DropDown.prototype = {
      initEvents : function() {
        var obj = this;

        obj.dd.on('click', function(event){
          $(this).toggleClass('active');
          event.stopPropagation();
        });
      }
    }
    $(function() {

      var dd = new DropDown( $('#dd1') );

      $(document).click(function() {
        // all dropdowns
        $('.wrapper-dropdown-1').removeClass('active');
      });

    });
    </script>
  </div>
</div>
<div class="clearfix"></div>
</div>
<div class="details-grid">
<div class="details-shade">
  <div class="col-md-6 details-left">
    <img class="img-circle border-effect" src="images/.png" alt=" " />
  </div>
  <div class="col-md-6 details-right">
    <h3>kimberly Thompson</h3>
    <h4>Daily Statistics</h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
    <div class="progress-right">
      <p>60%</p>
    </div>
    <div class="clearfix"></div>
    <p>Fitness Trainer</p>
  </div>
  <div class="clearfix"></div>

</div>
</div>
<div class="fit-goals">
<div class="follow">
<div class="col-sm-4 follow-left text-center">
  <h3>Foot Steps</h3>
  <img id="steps" src="~/img/steps.png">
  <p>19,950</p>
</div>
<!--  -->
<div class="col-sm-4 follow-left text-center">
  <h3>Distance Traveled</h3>
  <p>1,005 miles</p>
  <img src="~/img/travel.png">
</div>
<!--  -->
<div class="col-sm-4 follow-left text-center">
  <h3>BMI</h3>
  <p>10.1%</p>
  <img src="~/img/body.png">
</div>
<div class="clearfix"></div>
</div>
</div>
<!--  -->

<hr><h3>Work Out Plan For Today</h3>
<br>
<select>
<option>Back</option>
<option>Upper Body</option>
<option>Lower Body</option>
<option>Abdominals</option>
</select>
<div class="fit-goals">
  <div class="col-sm-6 goal-left">
    <div class="goal-img">
      <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
        <div class="hi-icon"></a>
      </div>
    </div>
  </div>

    <div class="goal-info">
      <h4>Weight Lifting</h4>
      <select>
        <option>3 Sets</option>
        <option>4 Sets</option>
        <option>5 Sets</option>
      </select>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- 1 -->
  <div class="col-sm-6 goal-left">
    <div class="goal-img">
      <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
        <div class="hi-icon"></div>
      </div>
    </div>
    <div class="goal-info">
      <h4>Legs</h4>
      <p>Weekly / 2 hours</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- 2 -->
  <div class="col-sm-6 goal-left">
    <div class="goal-img">
      <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
        <a href="#" class="hi-icon goal-icon3"></a>
      </div>
    </div>
    <div class="goal-info">
      <h4>Threadmill</h4>
      <p>Weekly / 2 hours</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- 3 -->
  <div class="col-sm-6 goal-left">
    <div class="goal-img">
      <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
        <a href="#" class="hi-icon goal-icon3"></a>
      </div>
    </div>
    <div class="goal-info">
      <h4>Threadmill</h4>
      <p>Weekly / 2 hours</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--  4-->
  <div class="col-sm-6 goal-left">
    <div class="goal-img">
      <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
        <a href="#" class="hi-icon goal-icon3"></a>
      </div>
    </div>
    <div class="goal-info">
      <h4>Swimming</h4>
      <p>Weekly / 2 hours</p>
    </div>
    <div class="clearfix"></div>
  </div>


  <div class="col-sm-6 goal-left">
    <div class="goal-img">
      <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
        <a href="#" class="hi-icon goal-icon4"></a>
      </div>
    </div>
    <div class="goal-info">
      <h4>Bicycle</h4>
      <p>Daily / 4 hours</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
</div>


<div class="goals">
<div class="fit-goals">
  <h3>Healthy Diet</h3>
  <div class="col-sm-6 goal-left">
    <div class="goal-img">
      <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
        <a href="#" class="hi-icon "><i class="fa fa-cutlery"></i></a>
      </div>
    </div>
    <div class="goal-info">
      <h4>Diet1</h4>
      <p>1075 Kcal</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-sm-6 goal-left">
    <div class="goal-img">
      <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
        <a href="#" class="hi-icon"><i class="fa fa-heartbeat"></i></a>
      </div>
    </div>
    <div class="goal-info">
      <h4>Diet2</h4>
      <p>1055 Kcal</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
</div>

</div>
<div class="programs">
<h1>Programs & Features</h1>
<div class="col-md-6 program-left quality">
  <figure>
    <img class="img-responsive" src="images/p2.jpg" alt="lovely">
    <figcaption>
      <div class="fig-bor">
        <h3>Accusantium</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
        </p>
      </div>
    </figcaption>
  </figure>
  <div class="accordion">
    <div class="accordion-section">
      <a class="accordion-section-title" href="#accordion-1">Strength Training <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
      </a>
      <div id="accordion-1" class="accordion-section-content">
        <p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
      </div>
    </div>

    <div class="accordion-section">
      <a class="accordion-section-title" href="#accordion-2">Weight Loss <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
      </a>
      <div id="accordion-2" class="accordion-section-content">
        <p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
      </div>
    </div>

    <div class="accordion-section">
      <a class="accordion-section-title" href="#accordion-3">Best Nutrition <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
      </a>
      <div id="accordion-3" class="accordion-section-content">
        <p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
      </div>
    </div>
  </div>
  <script>
  jQuery(document).ready(function() {
    function close_accordion_section() {
      jQuery('.accordion .accordion-section-title').removeClass('active');
      jQuery('.accordion .accordion-section-content').slideUp(300).removeClass('open');
    }

    jQuery('.accordion-section-title').click(function(e) {
      // Grab current anchor value
      var currentAttrValue = jQuery(this).attr('href');

      if(jQuery(e.target).is('.active')) {
        close_accordion_section();
      }else {
        close_accordion_section();

        // Add active class to section title
        jQuery(this).addClass('active');
        // Open up the hidden content panel
        jQuery('.accordion ' + currentAttrValue).slideDown(300).addClass('open');
      }

      e.preventDefault();
    });
  });
  </script>
</div>
<div class="col-md-6 program-left quality">
  <figure>
    <img class="img-responsive" src="images/p1.jpg" alt="lovely">
    <figcaption>
      <div class="fig-bor">
        <h3>Accusantium</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
        </p>
      </div>
    </figcaption>
  </figure>
  <div class="accordion">
    <div class="accordion-section">
      <a class="accordion-section-title" href="#accordion-4">Strength Training <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
      </a>
      <div id="accordion-4" class="accordion-section-content">
        <p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
      </div>
    </div>

    <div class="accordion-section">
      <a class="accordion-section-title" href="#accordion-5">Weight Loss <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
      </a>
      <div id="accordion-5" class="accordion-section-content">
        <p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
      </div>
    </div>

    <div class="accordion-section">
      <a class="accordion-section-title" href="#accordion-6">Best Nutrition <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
      </a>
      <div id="accordion-6" class="accordion-section-content">
        <p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
</div>
<div class="statistics">
<div class="stat-shade">
  <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(document).ready(function () {
    $('#horizontalTab').easyResponsiveTabs({
      type: 'default', //Types: default, vertical, accordion
      width: 'auto', //auto or any width like 600px
      fit: true   // 100% fit in a container
    });
  });

  </script>


    </div>
  </div>
</div>
</div>
