<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

	<div class="body-back">
		<div class="masthead pdng-stn1">
			<div id="menu" class="panel" role="navigation">
				<div class="wrap-content">
					<div class="search">
						<form>
							<input type="search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
							<input type="submit" value=" ">
						</form>
					</div>
					<div class="profile-menu text-center">
						<img class="img-circle border-effect" src="images/pic3.png" alt=" ">
						<h3>kimberly Thompson</h3>
						<h4>Daily Statistics</h4>
						<div class="pro-menu">
							<p>Running</p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									<span class="sr-only">60% Complete</span>
								</div>
							</div>
							<p>Cycling</p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
									<span class="sr-only">60% Complete</span>
								</div>
							</div>
							<p>Weight Lifting</p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
									<span class="sr-only">60% Complete</span>
								</div>
							</div>
						</div>
						<div class="accordion menu-accor">
							<div class="accordion-section">
								<a class="accordion-section-title" href="#accordion-7">Workout Levels <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
								</a>
								<div id="accordion-7" class="accordion-section-content">
									<ul>
										<li><a href="#">Level 1</a></li>
										<li><a href="#">Level 2</a></li>
										<li><a href="#">Level 3</a></li>
										<li><a href="#">Level 4</a></li>
									</ul>
								</div>
							</div>
							<div class="accordion-section">
								<a class="accordion-section-title" href="#accordion-8">Weight Levels <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
								</a>
								<div id="accordion-8" class="accordion-section-content">
									<ul>
										<li><a href="#">Level 1</a></li>
										<li><a href="#">Level 2</a></li>
										<li><a href="#">Level 3</a></li>
										<li><a href="#">Level 4</a></li>
									</ul>
								</div>
							</div>
							<div class="accordion-section">
								<a class="accordion-section-title" href="#accordion-9">Running Levels<i class="fa fa-chevron-down"></i><div class="clearfix"></div>
								</a>
								<div id="accordion-9" class="accordion-section-content">
									<ul>
										<li><a href="#">Level 1</a></li>
										<li><a href="#">Level 2</a></li>
										<li><a href="#">Level 3</a></li>
										<li><a href="#">Level 4</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="phone-box wrap push">

				<div class="menu-notify">
					<div class="profile-left">
						<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
					</div>
					<div class="Profile-mid">
						<h5 class="pro-link">Profile</h5>
					</div>
					<div class="Profile-right">
						<div id="dd1" class="wrapper-dropdown-1" tabindex="1"><i class="fa fa-bars"></i>
							<ul class="dropdown">
								<li><a href="#">Edit Profile </a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">Activity log</a></li>
								<li><a href="#">Log Out</a></li>
							</ul>
							<script type="text/javascript">
							function DropDown(el) {
								this.dd = el;
								this.initEvents();
							}
							DropDown.prototype = {
								initEvents : function() {
									var obj = this;

									obj.dd.on('click', function(event){
										$(this).toggleClass('active');
										event.stopPropagation();
									});
								}
							}
							$(function() {

								var dd = new DropDown( $('#dd1') );

								$(document).click(function() {
									// all dropdowns
									$('.wrapper-dropdown-1').removeClass('active');
								});

							});
							</script>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="details-grid">
					<div class="details-shade">
						<div class="col-md-6 details-left">
							<img class="img-circle border-effect" src="images/pic3.png" alt=" " />
						</div>
						<div class="col-md-6 details-right">
							<h3>kimberly Thompson</h3>
							<h4>Daily Statistics</h4>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									<span class="sr-only">60% Complete</span>
								</div>
							</div>
							<div class="progress-right">
								<p>60%</p>
							</div>
							<div class="clearfix"></div>
							<p>Fitness Trainer</p>
						</div>
						<div class="clearfix"></div>

					</div>
				</div>
				<div class="follow">

					<div class="col-sm-4 follow-left text-center">
						<h3>Followers</h3>
						<p>14,271</p>
					</div>
					<div class="col-sm-4 follow-left text-center">
						<h3>Following</h3>
						<p>1,271</p>
					</div>
					<div class="col-sm-4 follow-left text-center">
						<h3>Listed</h3>
						<p>33</p>
					</div>
					<div class="clearfix"></div>

				</div>
				<div class="goals">

					<div class="menu-notify2">
						<div class="profile-left">
							<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
						</div>
						<div class="Profile-mid">
							<h5 class="pro-link">Profile</h5>
						</div>
						<div class="Profile-right">
							<div id="dd2" class="wrapper-dropdown-2" tabindex="1"><i class="fa fa-bars"></i>
								<ul class="dropdown">
									<li><a href="#">Edit Profile </a></li>
									<li><a href="#">Help</a></li>
									<li><a href="#">Activity log</a></li>
									<li><a href="#">Log Out</a></li>
								</ul>
								<script type="text/javascript">
								function DropDown(el) {
									this.dd = el;
									this.initEvents();
								}
								DropDown.prototype = {
									initEvents : function() {
										var obj = this;

										obj.dd.on('click', function(event){
											$(this).toggleClass('active');
											event.stopPropagation();
										});
									}
								}
								$(function() {

									var dd = new DropDown( $('#dd2') );

									$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});

								});
								</script>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="fit-goals">
						<h3>Fitness Goals</h3>
						<div class="col-sm-6 goal-left">
							<div class="goal-img">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
									<a href="#" class="hi-icon goal-icon1"></a>
								</div>
							</div>
							<div class="goal-info">
								<h4>Weight Lifting</h4>
								<p>Daily / 2 hours</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-sm-6 goal-left">
							<div class="goal-img">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
									<a href="#" class="hi-icon goal-icon2"></a>
								</div>
							</div>
							<div class="goal-info">
								<h4>Dumbbell</h4>
								<p>Weekly / 2 hours</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-sm-6 goal-left">
							<div class="goal-img">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
									<a href="#" class="hi-icon goal-icon3"></a>
								</div>
							</div>
							<div class="goal-info">
								<h4>Threadmill</h4>
								<p>Weekly / 2 hours</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-sm-6 goal-left">
							<div class="goal-img">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
									<a href="#" class="hi-icon goal-icon4"></a>
								</div>
							</div>
							<div class="goal-info">
								<h4>Bicycle</h4>
								<p>Daily / 4 hours</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>

				</div>
				<div class="goals">
					<div class="fit-goals">
						<h3>Healthy Diet</h3>
						<div class="col-sm-6 goal-left">
							<div class="goal-img">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
									<a href="#" class="hi-icon "><i class="fa fa-cutlery"></i></a>
								</div>
							</div>
							<div class="goal-info">
								<h4>Diet1</h4>
								<p>1075 Kcal</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-sm-6 goal-left">
							<div class="goal-img">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
									<a href="#" class="hi-icon"><i class="fa fa-heartbeat"></i></a>
								</div>
							</div>
							<div class="goal-info">
								<h4>Diet2</h4>
								<p>1055 Kcal</p>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="clearfix"></div>
					</div>

				</div>
				<div class="programs">
					<h1>Programs & Features</h1>
					<div class="col-md-6 program-left quality">
						<figure>
							<img class="img-responsive" src="images/p2.jpg" alt="lovely">
							<figcaption>
								<div class="fig-bor">
									<h3>Accusantium</h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									</p>
								</div>
							</figcaption>
						</figure>
						<div class="accordion">
							<div class="accordion-section">
								<a class="accordion-section-title" href="#accordion-1">Strength Training <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
								</a>
								<div id="accordion-1" class="accordion-section-content">
									<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
								</div>
							</div>

							<div class="accordion-section">
								<a class="accordion-section-title" href="#accordion-2">Weight Loss <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
								</a>
								<div id="accordion-2" class="accordion-section-content">
									<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
								</div>
							</div>

							<div class="accordion-section">
								<a class="accordion-section-title" href="#accordion-3">Best Nutrition <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
								</a>
								<div id="accordion-3" class="accordion-section-content">
									<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
								</div>
							</div>
						</div>
						<script>
						jQuery(document).ready(function() {
							function close_accordion_section() {
								jQuery('.accordion .accordion-section-title').removeClass('active');
								jQuery('.accordion .accordion-section-content').slideUp(300).removeClass('open');
							}

							jQuery('.accordion-section-title').click(function(e) {
								// Grab current anchor value
								var currentAttrValue = jQuery(this).attr('href');

								if(jQuery(e.target).is('.active')) {
									close_accordion_section();
								}else {
									close_accordion_section();

									// Add active class to section title
									jQuery(this).addClass('active');
									// Open up the hidden content panel
									jQuery('.accordion ' + currentAttrValue).slideDown(300).addClass('open');
								}

								e.preventDefault();
							});
						});
						</script>
					</div>
					<div class="col-md-6 program-left quality">
						<figure>
							<img class="img-responsive" src="images/p1.jpg" alt="lovely">
							<figcaption>
								<div class="fig-bor">
									<h3>Accusantium</h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									</p>
								</div>
							</figcaption>
						</figure>
						<div class="accordion">
							<div class="accordion-section">
								<a class="accordion-section-title" href="#accordion-4">Strength Training <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
								</a>
								<div id="accordion-4" class="accordion-section-content">
									<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
								</div>
							</div>

							<div class="accordion-section">
								<a class="accordion-section-title" href="#accordion-5">Weight Loss <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
								</a>
								<div id="accordion-5" class="accordion-section-content">
									<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
								</div>
							</div>

							<div class="accordion-section">
								<a class="accordion-section-title" href="#accordion-6">Best Nutrition <i class="fa fa-chevron-down"></i><div class="clearfix"></div>
								</a>
								<div id="accordion-6" class="accordion-section-content">
									<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="statistics">
					<div class="stat-shade">

						<div class="menu-notify1">
							<div class="profile-left">
								<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
							</div>
							<div class="Profile-mid">
								<h5 class="pro-link">Profile</h5>
							</div>
							<div class="Profile-right">
								<div id="dd4" class="wrapper-dropdown-4" tabindex="1"><i class="fa fa-bars"></i>
									<ul class="dropdown">
										<li><a href="#">Edit Profile </a></li>
										<li><a href="#">Help</a></li>
										<li><a href="#">Activity log</a></li>
										<li><a href="#">Log Out</a></li>
									</ul>
									<script type="text/javascript">
									function DropDown(el) {
										this.dd = el;
										this.initEvents();
									}
									DropDown.prototype = {
										initEvents : function() {
											var obj = this;

											obj.dd.on('click', function(event){
												$(this).toggleClass('active');
												event.stopPropagation();
											});
										}
									}
									$(function() {

										var dd = new DropDown( $('#dd4') );

										$(document).click(function() {
											// all dropdowns
											$('.wrapper-dropdown-4').removeClass('active');
										});

									});
									</script>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
						<script type="text/javascript">
						$(document).ready(function () {
							$('#horizontalTab').easyResponsiveTabs({
								type: 'default', //Types: default, vertical, accordion
								width: 'auto', //auto or any width like 600px
								fit: true   // 100% fit in a container
							});
						});

						</script>
						<div class="sap_tabs">
							<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
								<ul class="resp-tabs-list">
									<li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Statistics</span></li>
									<li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Work Report</span></li>
									<li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Our History</span></li>
									<div class="clearfix"></div>
								</ul>
								<div class="resp-tabs-container">
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="tab_img">
											<div class="month-graph">
												<h3>Our Daily Statistical Report</h3>
												<div class="graph-left">
													<canvas id="bar" height="300" width="400" style="width: 400px; height: 300px;"></canvas>
													<script>
													var barChartData = {
														labels : ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],
														datasets : [
															{
																fillColor : "#A294E5",
																data : [20,30,40,50,60,70,80]
															},
															{
																fillColor : "#B377D9",
																data : [25,35,45,55,65,75,85]
															}
														]

													};
													new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);

													</script>
												</div>
												<div class="graph-right">
													<p class="tit-one">Running</p>
													<p class="tit-two">Calories</p>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
									<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="tab_img">
											<div class="month-graph">
												<h3>Our Daily Work Report</h3>
												<script type="text/javascript" src="js/percircle.js"></script>
												<div class="circle-grid">
													<div class="circle-text">
														<div id="bluecircle" class="c100 p17 big">
															<span>30mins</span>
															<div class="slice">
																<div class="bar"></div>
																<div class="fill"></div>
															</div>
														</div>
														<h4>Time</h4>
													</div>
													<div class="circle-text">
														<div id="orangecircle" class="c100 p60 orange">
															<span>6Km</span>
															<div class="slice">
																<div class="bar"></div>
																<div class="fill"></div>
															</div>
														</div>
														<h4>Kilometers</h4>
													</div>
													<div class="circle-text">
														<div id="pinkcircle" class="c100 p94 small green">
															<span>60Kcal</span>
															<div class="slice">
																<div class="bar"></div>
																<div class="fill"></div>
															</div>
														</div>
														<h4>Kilo Calories</h4>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="tab_img">
											<div class="month-graph">
												<h3>Our History</h3>
												<div class="about-gd">
													<div class="about-gd-left">
														<h5>1995</h5>
													</div>
													<div class="about-gd-right">
														<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam
															corporis suscipit laboriosam.</p>
														</div>
														<div class="clearfix"> </div>
													</div>
													<div class="about-gd">
														<div class="about-gd-left">
															<h5>2000</h5>
														</div>
														<div class="about-gd-right">
															<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam
																corporis suscipit laboriosam.</p>
															</div>
															<div class="clearfix"> </div>
														</div>

														<div class="about-gd">
															<div class="about-gd-left">
																<h5>2015</h5>
															</div>
															<div class="about-gd-right">
																<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam
																	corporis suscipit laboriosam.</p>
																</div>
																<div class="clearfix"> </div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="parker">

								<div class="menu-notify1">
									<div class="profile-left">
										<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
									</div>
									<div class="Profile-mid">
										<h5 class="pro-link">Profile</h5>
									</div>
									<div class="Profile-right">
										<div id="dd3" class="wrapper-dropdown-3" tabindex="1"><i class="fa fa-bars"></i>
											<ul class="dropdown">
												<li><a href="#">Edit Profile </a></li>
												<li><a href="#">Help</a></li>
												<li><a href="#">Activity log</a></li>
												<li><a href="#">Log Out</a></li>
											</ul>
											<script type="text/javascript">
											function DropDown(el) {
												this.dd = el;
												this.initEvents();
											}
											DropDown.prototype = {
												initEvents : function() {
													var obj = this;

													obj.dd.on('click', function(event){
														$(this).toggleClass('active');
														event.stopPropagation();
													});
												}
											}
											$(function() {

												var dd = new DropDown( $('#dd3') );

												$(document).click(function() {
													// all dropdowns
													$('.wrapper-dropdown-3').removeClass('active');
												});

											});
											</script>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="parker-img text-center">
									<img class="img-circle border-effect2" src="images/pic6.png" alt=" ">
									<h2>Victoria Parker</h2>
									<p>Fitness Specialist</p>
									<div class="like-icons">
										<ul>
											<li>
												<a href="#"><i class="fa fa-user"></i></a>
												<p>Profile</p>
											</li>
											<li>
												<a href="#"><i class="fa fa-bar-chart"></i></a>
												<p>Stats</p>
											</li>
											<li>
												<a href="#"><i class="fa fa-pencil"></i></a>
												<p>Posts</p>
											</li>
											<li>
												<a href="#"><i class="fa fa-picture-o"></i></a>
												<p>Photos</p>
											</li>
											<li>
												<a href="#"><i class="fa fa-tags"></i></a>
												<p>Tags</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="contact">
								<div class="signup-bottom">
									<div class="signup-banner">

										<div class="menu-notify1">
											<div class="profile-left">
												<a href="#menu" class="menu-link"><i class="fa fa-chevron-left"></i></a>
											</div>
											<div class="Profile-mid">
												<h5 class="pro-link">Profile</h5>
											</div>
											<div class="Profile-right">
												<div id="dd5" class="wrapper-dropdown-5" tabindex="1"><i class="fa fa-bars"></i>
													<ul class="dropdown">
														<li><a href="#">Edit Profile </a></li>
														<li><a href="#">Help</a></li>
														<li><a href="#">Activity log</a></li>
														<li><a href="#">Log Out</a></li>
													</ul>
													<script type="text/javascript">
													function DropDown(el) {
														this.dd = el;
														this.initEvents();
													}
													DropDown.prototype = {
														initEvents : function() {
															var obj = this;

															obj.dd.on('click', function(event){
																$(this).toggleClass('active');
																event.stopPropagation();
															});
														}
													}
													$(function() {

														var dd = new DropDown( $('#dd5') );

														$(document).click(function() {
															// all dropdowns
															$('.wrapper-dropdown-5').removeClass('active');
														});

													});
													</script>
												</div>
											</div>
											<div class="clearfix"></div>
										</div>
										<a href="#"><i class="fa fa-user"></i></a>
										<input type="file" value="Choose file..">
									</div>
									<div class="sing-up-icon text-center"></div>
									<form>
										<input type="text" class="name" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="name" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"><br>
										<input type="password" class="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"><br>
										<input type="submit" value="SEND">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			
